<div class="Navbar">
    <div class="blur-background"></div>
	<a class="name" >Luca</a>
    <div class="left-items">
        <a class="nav-item about" >Sobre</a>
        <a class="nav-item portfolio" >Portfolio</a>
        <a class="nav-item contact" >Contato</a>
        <i class="fab fa-github"></i>
    </div>
</div>
<style>
	.Navbar {
        font-weight: 550;
		position: fixed;
		top: 0;
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		background: transparent;
		z-index: 10;
	}


	.blur-background {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: rgba(19, 21, 26, 0.1);
		backdrop-filter: blur(3px);
		z-index: -1;
	}

    .name {
        position: relative;
        color: white;
        text-align: center;
        font-size: 17px;
        z-index: 1;
        padding: 10px 20px;
    }

	.nav-item {
		position: relative;
		color: white;
		text-align: center;
		font-size: 17px;
		z-index: 1;
        padding: 10px 20px;
	}

    .left-items {
        position: relative;
		color: white;
		text-align: center;
		font-size: 17px;
		z-index: 1;
        padding: 10px 20px;
    }

    .nav-item:hover {
        background-color: rgba(222, 222, 222, 0.1);
        border-radius: 5px;
    }



</style>
