<div class="Navbar">
    <div class="blur-background"></div>
	<a class="nav-item name" >Luca</a>
    <div>
        <a class="nav-item about" >Sobre</a>
        <a class="nav-item portfolio" >Portfolio</a>
        <a class="nav-item contact" >Contato</a>
    </div>
</div>
<style>
	.Navbar {
        font-weight: 550;
		position: fixed;
		top: 0;
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		background: transparent;
		z-index: 10;
	}


	.blur-background {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: rgba(19, 21, 26, 0.1);
		backdrop-filter: blur(3px);
		z-index: -1;
	}


	.nav-item {
		position: relative;
		color: white;
		text-align: center;
		font-size: 17px;
		z-index: 1;
	}
</style>
